{% section 'testimonial-customised' %}
<div class="container">
  <header class="page__header page__header--centered">
    <!-- <h1 class="custom-title">Our Entries</h1> -->
  </header>

  <div class="page__content rte">
    {{ page.content }}
  </div>
</div>